.photoReportsListItem{
	line-height: 18px;
	height: auto;
}
.photo_report_poster{
	max-height: 30%;
	max-width: 30%;
	min-height: 60px;
	min-width: 60px;
	padding-right: 1em;
}

.eventInfo{
	/*float: right;*/
	/*width: 70%;*/
	text-align: left;

}

.eventName{
	font-size: 0.7em;
	color: #a9a9a9;
}
.companyName{
}

.photos_list_padding_div{
	padding: 20px;
}
.photos_list_img{
	height: 100%;
	width: 100%;
	min-height: 60px;
	min-width: 60px;
	background-position: center;
	background-repeat: no-repeat;
}