.photoReportsListItem{
	line-height: 18px;
	height: auto;
}
.events_list_item .thumb img{
	max-height: 70px;
	max-width: 70px;
}

.events_list_item .thumb{
	height: 50px;
	width: 50px;
	overflow: hidden;
	text-align: center;
	float: left;
	padding-right: 2%;
}

.eventInfo{
	/*float: right;*/
	/*width: 70%;*/
	text-align: left;

}

.eventName{
	font-size: 0.7em;
	color: #a9a9a9;
}
.companyName{
}

.photos_list_padding_div{
	padding: 20px;
}
.photos_list_img{
	height: 100%;
	width: 100%;
	min-height: 60px;
	min-width: 60px;
	background-position: center;
	background-repeat: no-repeat;
}

.slide_show_item{
	height: 100%;
	width: 100%;
}

.slide_show_item .img_container{
	height: inherit;
	width: inherit;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	margin-left: auto;
	margin-right: auto;
}

.slide_show_item .img_container .padding_left_top{
	padding-left: 100%;
	padding-bottom: 100%;
}