.photoReportsListItem{
	line-height: 18px;
	height: auto;
}
.photo_report_poster{
	max-height: 30%;
	max-width: 30%;
	min-height: 60px;
	min-width: 60px;
}

.eventInfo{
	float: right;
	width: 70%;
	text-align: left;

}

.eventName{
	font-size: 0.7em;
}
.companyName{

}